<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicias Dulces S.A.S</title>

    <link rel="stylesheet" href="../public/css/mainPage.css"> <!-- CSS -->
    <!-- Iconos -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <header>
    <div class="header-top">
        <div class="logo">
            <a href="#"><img src="./Sources/img/logo.png" alt="Logo"></a>
        </div>
        <div class="iconos">
            <a href="#" class="icon"><i class="bx bx-user"></i></a>
            <a href="#" class="icon"><i class="bx bx-search"></i></a>
            <a href="#" class="icon"><i class="bx bx-cart"></i></a>
        </div>
    </div>
    
    <div class="header-bottom">
        <nav class="navbar">
            <ul>
                <li><a href="#home">Inicio</a></li>
                <li class="dropdown-btn"><a href="#productos">Productos &#9662;</a>
                    <ul class="dropdown">
                        <li><a href="#">Subcategoría 1</a></li>
                        <li><a href="#">Subcategoría 2</a></li>
                    </ul>
                </li>
                <li class="dropdown-btn"><a href="#service">Servicio Técnico &#9662;</a>
                    <ul class="dropdown">
                        <li><a href="#">Opción 1</a></li>
                        <li><a href="#">Opción 2</a></li>
                    </ul>
                </li>
                <li><a href="#colecciones">Colecciones</a></li>
                <li class="dropdown-btn"><a href="#quienes-somos">Quiénes somos &#9662;</a>
                    <ul class="dropdown">
                        <li><a href="#">Historia</a></li>
                        <li><a href="#">Nuestro Equipo</a></li>
                    </ul>
                </li>
                <li><a href="#feria">Nuestra Feria</a></li>
                <li><a href="#comprar">¿Qué te puedes comprar con $?</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-- Sección Home -->
<section class="home" id="home">
    <div class="text">
        <h1>¿Buscas <span>comprar</span> dulces al por mayor?</h1>
        <p><h2 class="txt-conce">Delicias Dulces S.A.S</h2><br> La mejor empresa de dulces en la ciudad. 
            <br>Ofrecemos una amplia variedad de productos para todos los gustos.</p>
        <a href="#productos" class="btn btn-home">Ver Productos</a>
    </div>
</section>

<!-- Sección Servicios -->
<section class="Servicios" id="service">
    <div class="tituloServicios">
        <span>Servicios</span>
        <h2>¿Qué ofrecemos?</h2>
    </div>

    <div class="contenedor-servicios">
        <div class="caja-servicio">
            <i class='bx bx-cart-add'></i>
            <h3>Compra al por mayor</h3>
            <p>Ofrecemos precios competitivos y productos de alta calidad. Ideal para tiendas y distribuidores.</p>
        </div>

        <div class="caja-servicio">
            <i class='bx bx-package'></i>
            <h3>Envíos Rápidos</h3>
            <p>Realizamos envíos a toda la ciudad, garantizando que tus productos lleguen en perfectas condiciones.</p>
        </div>

        <div class="caja-servicio">
            <i class='bx bx-support'></i>
            <h3>Atención al Cliente</h3>
            <p>Nuestro equipo está disponible para ayudarte en todo momento. ¡Contáctanos para más información!</p>
        </div>
    </div>
</section>

<!-- Sección Productos -->
    <section class="vehiculos" id="vehiculos">
        
        <div class="tituloServicios">
            <span> Vehiculos disponibles  </span>
            <h2>Explora en toda nuestra variedad de Vehiculos nuevos <br> o usados segun tu conveniencia asi como presupuesto </h2>
        </div>

        <div class="contenedor-vehiculos">

            <div class="caja-vehiculos">
                <div class="img-vehiculos">
                    <img src="./src/Sources/img/car1.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>Toyota Corolla</h3>
                <h2>$110.000.000 | $ 1.500.000 <span> /Cuotas mensuales</span></h2>
                <a href="#" class="btn">Compralo ahora</a>
            </div>

             <div class="caja-vehiculos">
                <div class="img-vehiculos">
                    <img src="./src/Sources/img/car2.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>Toyota Corolla</h3>
                <h2>$110.000.000 | $ 1.500.000 <span> /Cuotas mensuales</span></h2>
                <a href="#" class="btn">Compralo ahora</a>
            </div>

             <div class="caja-vehiculos">
                <div class="img-vehiculos">
                    <img src="./src/Sources/img/car3.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>Toyota Corolla</h3>
                <h2>$110.000.000 | $ 1.500.000 <span> /Cuotas mensuales</span></h2>
                <a href="#" class="btn">Compralo ahora</a>
            </div>
            
             <div class="caja-vehiculos">
                <div class="img-vehiculos">
                    <img src="./src/Sources/img/car4.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>Toyota Corolla</h3>
                <h2>$110.000.000 | $ 1.500.000 <span> /Cuotas mensuales</span></h2>
                <a href="#" class="btn">Compralo ahora</a>
            </div>

             <div class="caja-vehiculos">
                <div class="img-vehiculos">
                    <img src="./src/Sources/img/car5.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>Toyota Corolla</h3>
                <h2>$110.000.000 | $ 1.500.000 <span> /Cuotas mensuales</span></h2>
                <a href="#" class="btn">Compralo ahora</a>
            </div>

             <div class="caja-vehiculos">
                <div class="img-vehiculos">
                    <img src="./src/Sources/img/car6.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>Toyota Corolla</h3>
                <h2>$110.000.000 | $ 1.500.000 <span> /Cuotas mensuales</span></h2>
                <a href="#" class="btn">Compralo ahora</a>
            </div>
        </div>
    </section>
<!-- Reseñas -->
<section class="Reseñas" id="reseñas">
    <div class="tituloServicios">
        <span>Reseñas</span>
        <h2>Experiencias de nuestros clientes</h2>
    </div>

    <div class="contenedor-reseñas">
        <div class="caja-reseñas">
            <div class="img-reseñas">
                <img src="./Sources/img/rev1.jpg" alt="">
            </div>
            <div class="estrellas">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bx-star'></i>
            </div>
            <h3>Carlos Grillo</h3>
            <p>"Los masmelos son los mejores que he probado, ¡mis clientes están encantados!"</p>
        </div>

        <div class="caja-reseñas">
            <div class="img-reseñas">
                <img src="./Sources/img/rev2.jpg" alt="">
            </div>
            <div class="estrellas">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
            </div>
            <h3>Pepe Pérez</h3>
            <p>"Gran calidad y un excelente servicio al cliente. ¡Volveré a comprar!"</p>
        </div>

        <div class="caja-reseñas">
            <div class="img-reseñas">
                <img src="./Sources/img/rev3.jpg" alt="">
            </div>
            <div class="estrellas">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <h3>Angélica Martínez</h3>
            <p>"Me encanta la variedad de productos, siempre encuentro lo que busco."</p>
        </div>
    </div>
</section>

<!-- Acerca de -->
<section class="AcercaDe" id="acerca">
    <div class="tituloServicios">
        <span>Acerca de Nosotros</span>
        <h2>La mejor experiencia en la venta de dulces al por mayor</h2>
    </div>

    <div class="acerca-contenedor">
        <div class="acerca-img">
            <img src="./Sources/img/about.png" alt="">
        </div>
        <div class="acerca-text">
            <span>20 años de experiencia</span>
            <h2>¿Quiénes somos?</h2>
            <p> "En Delicias Dulces S.A.S, nos dedicamos a ofrecer la mejor calidad en dulces al por mayor. 
            Contamos con un equipo apasionado que trabaja para satisfacer las necesidades de nuestros clientes."</p>
            <a href="#" class="btn">Leer más</a>
        </div>
    </div>
</section>

<script src="src/js/mainResonsive.js"></script> <!-- JS -->
</body>
</html>
